* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  /*background: rgb(195,115,34);
  background: linear-gradient(0deg, rgba(195,115,34,1) 13%, rgba(250,128,114,1) 100%);*/
  background-image: url(../src/images/Background.png);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}