* {
  margin: 0;
  padding: 0;
}

html, 
body {
  font-size: 18px;
  background: rgb(195,115,34);
  background: linear-gradient(0deg, rgba(195,115,34,1) 13%, rgba(250,128,114,1) 100%);
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 1em;
}

h2 {
  font-size: 2em;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 1em;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

input{
  width: 20em;
  height: 2em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 1em;
  font-size: 1em;
  background-color: burlywood;
}

.guess-button{
  width: 5em;
  height: 2em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1em;
  background-color: burlywood;
}