.category-container{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 192, 32);
    height: 10em;
    width: 10em;
    border-radius: 5px;
}

p{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    line-height: 1.5em;
}