.footer-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: auto;
    height: 10%;
    background-color: #000000;
    padding: 10px; /* Ajusta según sea necesario */
    text-align: center; /* Alinea el contenido al centro si es necesario */
    /* Otros estilos si es necesario */
  }
