.guess-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: burlywood;
    width: 100em;
    height: 15em;
}

img {
    width: 15em; /* Set the width */
    height: 10em; /* Set the height */
    margin-left: 2em;
    border-radius: 5px;
}

.guess-categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2em;
}
