.header-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
    background: burlywood;
}



.login-icon {
    display: flex;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;

}


.circle-container {
    width: 100px; /* Ancho del contenedor, ajusta según sea necesario */
    height: 100px; /* Altura del contenedor, ajusta según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    display: flex;
    width: 100%; /* Esto hará que el círculo tenga el mismo ancho que el contenedor */
    padding-bottom: 100%; /* Esto establecerá la altura del círculo igual al ancho, creando así un círculo perfecto */
    background-color: white;
    border-radius: 50%;
    /* Estilos adicionales si es necesario */
  }


.title-icon {
    display: flex;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

.ranking-icon {
    display: flex;
    border-radius: 50%;  
    background-color: white;
    border: 2px solid black;
}