.header-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: auto;
    padding: 10px;
    width: 80%;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    margin: 0;

}


.circle-container {
    width: 100px;
    /* Ancho del contenedor, ajusta según sea necesario */
    height: 100px;
    /* Altura del contenedor, ajusta según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    display: flex;
    width: 100%;
    /* Esto hará que el círculo tenga el mismo ancho que el contenedor */
    padding-bottom: 100%;
    /* Esto establecerá la altura del círculo igual al ancho, creando así un círculo perfecto */
    background-color: white;
    border-radius: 50%;
    /* Estilos adicionales si es necesario */
}


.title-icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.ranking-icon,
.login-icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10%;
}

.ranking-icon img,
.login-icon img {
    height: 100%;
    width: 100%;
}

.exit-icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10%;
}